* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
    font-family: "Oswald", sans-serif;
}

header {
    background-color: aqua;
    text-align: center ;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: aquamarine;
    padding: 20px 20px;
}

#about {
    background-color: bisque;
    padding: 20px;
    text-align: center;
}

#articles {
    background-color: rgb(54, 35, 6);
    padding: 20px;
}
p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-bottom: 3rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
}

ol {
    padding-left: 2rem;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;

}